<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="exam.css" rel="stylesheet">

</head>

<body>
    <section class="head">
        <div class="logo">

        </div>
        <div class="profile">

        </div>

    </section>
    <section class="main">
        <div class="question">
            <div class="mainquestion">
                <h3>Quetions:</h3>
                <div>
                    <div>
                        <label for="quiz1">what is chem</label>

                    </div>
                    <div>

                        <div><input type="radio" name="option" id="option1"></div>
                        <div><input type="radio" name="option" id="option2"></div>
                        <div><input type="radio" name="option" id="option3"></div>
                        <div><input type="radio" name="option" id="option4"></div>


                    </div>


                </div>

            </div>
            <div class="questionfoot">
                <button>Save</button>
                <button>Review</button>
                <button>Clear</button>
            </div>
        </div>
        <div class="view">
            <div class="viewmain">
                <h3>Quetions Overview:</h3>
            </div>
            <div class="viewfoot">
                <p>Attempt</p>
                <p>Unattempt</p>
                <a>Instruction</a>

                <input type="submit" value="finish" name="finish">
            </div>
        </div>
    </section>


</body>

</html>