<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Email Address</title>
</head>
<body>
    <div class="container">
        <p class="greeting" >Dear, <span th:text=${name}></span></p>
        <p class="content">
            Welcome to our platform, 
            <h4>Premate !</h4>
            We're excited to have you join our community. To ensure you receive important updates and access all the features, please verify your email address.
        </p>
        <p class="content">
            Simply click the link below to complete the verification process and unlock your full experience:
            <br>
            <a th:href="${verificationLink}" class="link">Verify Your Email Address</a>
        </p>
        </p>
        <p class="signature">
            By verifying your email, you'll be kept in the loop about important announcements and gain access to all the benefits our platform offers. We take your privacy seriously and will never share your email address with any third-party.
            <br><br>
            Should you have any questions or encounter any difficulties during the verification process, please don't hesitate to contact our support team at helpdext@premate.com.
            <br><br>
            Thank you for joining us!
            <br>
            The <b th:text ="${companyName}"></b> Team
        </p>
    </div>
</body>
</html>
